{% extends 'base.html' %}

{% block content %}
<div>
    <p>すべてのタスク一覧</p>
    <ul>
        {% if condition %}
        <li>タスクが存在しません。</li>
        {% endif %}
        {% for task in tasks %}
        <div>
          <li><p>{{ task.name }} &#9;{{ task.start_date }}&#9;{{ task.start_time }}&#9;{{ task.finish_date }}&#9;{{ task.finish_time }}&#9;{{ task.id }}</p>
          <a href="{% url 'mod_task' task.task_id %}" class="btn btn-primary">タスクを編集</a>
        </div>
        {% endfor %}
    </ul>
</div>

<br>

<div class="text-center">
    <a href="{% url 'add_task' %}" class="btn btn-lg btn-primary">タスクを登録</a>
</div>
{% endblock %}
