{% extends 'base.html' %}

{% block content %}
<div>
    <p>タスク一覧</p>
    <ul>
        {% if condition %}
        <li>タスクが存在しません。</li>
        {% endif %}
        {% for task in tasks %}
        <li><button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">{{ task.name }}</button></li>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">{{ task.name }}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>{{ task.name }} &#9;{{ task.start_date }}&#9;{{ task.start_time }}&#9;{{ task.finish_date }}&#9;{{ task.finish_time }}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>

<br>

<div class="text-center">
    <a href="{% url 'add_task' %}" class="btn btn-lg btn-primary">タスクを登録</a>
</div>
{% endblock %}
