{% extends 'base.html' %}

{% block content %}
<p class="hand-letter" style="font-size: x-large;">タスク一覧</p>
<div>
    <ul>
        {% if condition %}
        <li class="hand-letter">タスクが存在しません。</li>
        {% endif %}
        {% for task in tasks %}
        <div>
          <li><p  class="hand-letter">{{ task.name }} <br>開始： {{ task.start_date }}/{{ task.start_time }}&#9;終了：{{ task.finish_date }}/{{ task.finish_time }} <br> 詳細：{{ task.description }}</p>
          <a href="{% url 'mod_task' task.task_id %}" class="edit-task hand-letter">タスクを編集</a>
          <br><br><br>
        </div>
        {% endfor %}
    </ul>
</div>

<br>

<div class="text-center">
    <a href="{% url 'add_task' %}" class="add-task hand-letter">タスクを登録</a>
    <br>
    <br>
    <form method="post" action="{% url 'all_task' %}">
        {% csrf_token %}
        <input type="hidden" name="comment" value="comment">
        <button class="comment hand-letter" type="submit">コメントを見る。</button>
    </form>
</div>

{% endblock %}
