{% extends "base.html" %}
{% block content %}
<div>
    <p>みんなのタスク一覧</p>
    {% if is_message %}
    <script>
      alert('{{ message }}');
    </script>
    {% endif %}
    <ul>
        {% if condition %}
        <li>タスクが存在しません。</li>
        {% endif %}
        {% for task in tasks %}
        <div>
          <li><p>{{ task.name }} &#9;{{ task.user_name }} &#9;{{ task.description }}</p></li>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="like" value="{{ task.task_id }}">
            <button class="like-button like" data-task-id="{{ task.task_id }}" type="submit">いいね</button>
          </form>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ task.task_id }}">
            <textarea name="comment" id="comment"></textarea>
            <button class="comment" data-task-id="{{ task.task_id }}" type="submit">コメントする</button>
          </form>
        </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}
